{
    "presets": [
        [
            "env",
            {
                "nyc": {
                    "plugins": [
                        "istanbul"
                    ]
                },
                "targets": {
                    "node": "current"
                }
            }
        ]
    ]
}
